.screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen > div {
    background-color: #F2F6FB;
    height: 60%;
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.emojiDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.emojiDiv img {
    height: 30%;
    width: auto;
}

.textDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3rem;

}

.mainText {
    font-size: 5rem;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

button {
    height: 5rem;
    width: 15rem;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid #c0c0b8;
    cursor: pointer;
    background-color: rgb(243, 243, 238);
    box-shadow: 0 5px 0 #c0c0b8;
    transition: transform 0.1s, box-shadow 0.1s;
    font-family: inherit;
}

button:hover {
    background-color: #f1f1ec;
    transform: translateY(-2px);
    box-shadow: 0 7px 0 #c0c0b8;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #c0c0b8;
}